/* Căn giữa toàn bộ */
body {
  margin: 0;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

/* SVG */
svg {
  width: 600px;
  overflow: visible;
}

/* Nhịp tim */
#line {
  fill: none;
  stroke: #e00000;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 4s linear infinite;
}

/* Trái tim */
#heart {
  fill: #ff9999;
  stroke: #ff9999;
  transform-origin: center;
  animation: blink 4s linear infinite;
}

/* Vòng tròn tên */
.name-circle {
  margin-top: 25px;
  width: 130px;
  height: 130px;
  border: 3px solid #e00000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
  color: #e00000;
  animation: nameBeat 4s infinite;
}

/* Animation */
@keyframes dash {
  0% { stroke-dashoffset: 1; }
  80% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 0; }
}

@keyframes blink {
  0%, 60% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes nameBeat {
  0%, 60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1);
  }
}
